body{
    background-color:greenyellow ;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cornsilk;
    color: rgb(38,0,255);
}
#show_sketch{
    float: right;
}
#score{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 5px; 
}
#timer{
float: right;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 5px; 
}
p{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
#skecthtobedrawn{
    color: red;
}
h1{
    font-family: 'Special Elite', fantasy;
    color: blue;
    background-color: cornsilk;
}
#show_sketch{
    float: right;
}
canvas{
    border: 5px solid wheat;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 5px 5px 5px grey;
    box-shadow: 1px 1px 38px white;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px grey;}
    to  {box-shadow: 1px 1px 38px white;}
}
p, span{
    padding-top: 10px;
    font-family: 'Special Elite', fantasy;
    font-size: 25px;
}